#footer,
#content-holder2,
.inner-f-top{background:url(../../images/content-bg2-4.jpg);}
#footer{border-top:1px solid #037485;}

.inner-pages h2 .txt-left,
.content-holder1{background: url("../../images/content-bg1-3.jpg") repeat;}
.content-holder1 h2{color: #27201c;}

.service-tabs h3, .txt-color, .art-link a, .art-link, .art-bottom, .num-post, .status, .cat-title, .b-top-links li, a:hover, a:focus, .s-holder a,

 .author-img-holder .author-name{color:#005562;}
 
.nav-tabs > li > a:hover, .nav-tabs > li > a:focus, .t-author, {color: #07a9c0;}

.more-btn, .more-btn2{color:#fff; border-top:2px solid #047484;}
.more-btn:hover, .more-btn2:hover{color:#047484;}
.more-btn1{background:#046472;}

.date a:hover{color:#003569;}

.h-blog .title {color:#003569;}
.h-blog .title a{color:#003569;}

.sub-btn, .send-btn{background:#0492a6;}


.f-icons li{background:url(../../images/social-links-blue.png) no-repeat bottom;}
.send-btn:hover,
.sub-btn:hover{background:#006C7C;}
#content-holder2 p{color:#fff;}

.navbar-inverse .nav > li > a:focus,
.navbar-inverse .nav > li > a:hover,
.navbar-inverse .nav .active > a,
.navbar-inverse .nav .active > a:hover,
.navbar-inverse .nav .active > a:focus,
.navbar-inverse .nav li.dropdown.open > .dropdown-toggle,
.navbar-inverse .nav li.dropdown.active > .dropdown-toggle,
.navbar-inverse .nav li.dropdown.open.active > .dropdown-toggle,
.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus,
.dropdown-submenu:hover > a,
.dropdown-submenu:focus > a,
.d-btn,
.flex-control-nav li a.active,
.author-art .title, .career-list,
.nav-list > .active > a, .nav-list > .active > a:hover, .nav-list > .active > a:focus, .accordion-heading, .left-col-list li a:hover{background-color: #07a9c0;}

.copy-right p a{color:#005562;}

blockquote, .flexslider .slides li.slide-image .caption{ border-color:#06a4b9;}

.d-btn:hover{ background:#047484;}

#logo {background:url(../../images/logo-blue.jpg) no-repeat;}

.elastislide-horizontal ul li {background:url(../../images/img-bottom-1.png) repeat-x bottom;}

.contact-list li{background:url(../../images/contact-icon-blue.png) no-repeat;}


#home .more-btn2 {
    color: #006C7C;
}
#home .more-btn2:hover{
	color:#007f91;
}