.inner-f-top,
#footer,
#content-holder2{background:url(../../images/content-bg2-2.jpg);}
.inner-pages h2 .txt-left,
.content-holder1{background:url(../../images/content-bg1-1.jpg);}
.content-holder1 h2{color: #393E0D;}
.service-tabs h3{color: #393E0D;}

#footer{border-top: 1px solid #52561E;}
