.inner-f-top,
#footer,
#content-holder2{background:url(../../images/content-bg2-3.jpg);}
.content-holder1,
.inner-pages h2 .txt-left{background: url("../../images/content-bg1-2.jpg") repeat;}
.content-holder1 h2{color: #222626;}
.service-tabs h3{color: #222626;}